doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Home
    link(rel="stylesheet" href="style.css")
  body
    nav
      div: a(href="/") Home
      div: a(href="/page1") Page 1
      div: a(href="/page2") Page 2
    h1 Home
